<div class="col-md-6 mx-auto">
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <%= link_to user_path(visitor) do %>
            <%#= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
            <strong><%= visitor.username %></strong>
          <% end %>
          <span class="ml-2">さんが</span>
      </div>
    </div>
  </div>
</div>