<div class="chat-message overflow-auto" style="max-height: 750px;">
  <% chats.each do |chat| %>
  <div id="<%= chat.id %>">
    <% if chat.user_id == current_user.id %>
      <div class="message self">
        <div class="message-body">
          <%= chat.message %>
          </div>
          <% if chat.read %>
            <span class="read">既読</span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="message other">
        <div class="message-sender"><%= chat.user.username %></div>
        <div class="message-body">
          <%= chat.message %>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>