<%= render 'comment_form' %>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render 'comment', comment: comment %>
  <% end %>
</div>


<script>
document.addEventListener('DOMContentLoaded', (event) => {
  let guestActions = document.querySelectorAll('.guest-action');
  guestActions.forEach((element) => {
    element.addEventListener('click', (event) => {
      event.preventDefault();
      alert('ゲストユーザーはこの操作はできません');
    });
  });
});
</script>