<h1>投稿編集</h1>
<%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>

<h4>投稿文</h4>
<%= f.text_area :content %>

<h4>画像</h4>
<%= f.file_field :image, accept: "/image/*" %>

<%= f.submit '保存' %>

<% end %>