<h1>投稿詳細</h1>

<p>投稿文</p>
<span><%= @post.content %></span>

<p>画像</p>
<%= image_tag @post.image, size: "150x150" if @post.image.attached? %>

<%= link_to '編集', edit_post_path(@post.id) %>

<%= link_to '削除', post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？？" %>
