/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 .
 *= require_self
 */
/*

 */


 @import "custom";



.top-image1 {
  background-image: image-url("top-image100.jpeg");
  background-size: cover;
  background-position: center;
  height: 700px; // 画像の高さを指定してください。
}

.top-image2 {
  background-image: image-url("training2.jpeg");
  background-size: cover;
  background-position: center;
  height: 700px; // 画像の高さを指定してください。
}

.top-image3 {
  background-image: image-url("training100.jpeg");
  background-size: cover;
  background-position: center;
  height: 700px; // 画像の高さを指定してください。
}

.navbar {
  background-color: #FFE4B5;
}

.footer {

  width: 100%;
  background-color: #f5f5f5;
}

a.btn--orange.btn--border-solid {
  border: 2px solid #b84c00;
}



a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #FFDEAD;
  }

  &:hover {
    color: #fff;
    background: #000;

     &:before {
       background: #fff;
     }
  }
}





.nav-link {
  color: #708090;
  font-family: inherit;
  transition: transform 0.3s, box-shadow 0.3s;

   &:hover {
    color: #FFA500;
    background-color: #F5F5F5;
    transform: scale(1.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
   }
}


.box-top {
  display: flex;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 800px;
  overflow-x: auto;
  padding: 10px;
}

.box-top div {
  scroll-snap-align: start;
  width: calc(100% - 5px); /* 左右の空白分（10px*2）を引いた幅に設定 */
  margin: 5px;
  flex-shrink: 0;
}


* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #f8f9fa;
}

.profile-picture {
  object-fit: cover;
  border-radius: 50% !important;
  width: 100px;
  height: 100px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
}

.no-profile-picture {
  background-color: #6c757d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 50%;
  font-weight: bold;
}

.card-post {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

   &:hover {
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   }
}

.form-label {
  font-weight: bold;
}

.form-control,
.form-control:focus {
  border-radius: 10px;
}

.custom-file-input,
.custom-file-input:focus {
  border-radius: 10px;
}

.btn-custom {
  margin-left: 25px;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: 0.3s;

   &:hover {
     background-color: #0056b3;
     color: white;
   }
}


.btn-custom-posts {
  background-color: #ff9c5b;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;

   &:hover {
     background-color: #ff7e33;
     color: white;
     text-decoration: none;
   }
}


.profile-picture-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-picture {
  object-fit: cover;
  border-radius: 50% !important;
  width: 95px;
  height: 100px;
}

.picture-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 100px;
  border: 2px solid #f1c40f;
  border-radius: 50%;
  box-sizing: border-box;
}


.user-info {
  color: #0F1419;
  font-weight: bold;
}

.follow-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.small-btn {
  font-size: 0.75em;
  padding: 0.5em 1em;
}

.follow-btn {
  background: #1DA1F2;
  border-radius: 2.5em;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 4px 4px 0 #000;

   &:hover {
   transform: translate(4px, 4px);
   box-shadow: none;
   }
}

.follow-btn:active {
  box-shadow: inset 4px 4px 0 #000;
}
.follow-btn span {
  display: block;
  transform: translate(4px, 4px);
}

.follow-btn:hover,
.follow-btn:focus {
  background: rgb(26, 145, 218);
}


.user-info-container {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 30px;
}
.user-info-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}



.post-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f8f9fa;
}


.post-content {
  display: flex;
  align-items: center;
}

.post-content-show {
  margin: 10px;
}

.post-text {
  margin-right: 10px;
}


// ________________________ chatroom

.file-container {
  position: relative;

  .save-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;

    &.checked-btn::before {
      content: "/2713";
    }

    &.saved {
      background-color: green;
    }
  }
}

.responsive-video {
  width: 100%;
  height: auto;
}



.back-button {
  position: relative;

  .back-symbol {
    display: inline;
  }

  .back-tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7em;
    white-space: nowrap;
  }

  .back-toolp::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    transform: translateX(-50%);
  }

  &:hover {
    .back-tooltip {
      display: inline;
    }
  }
}


.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.chat-topbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // justify-content: center;
  background-color: #1E90FF;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  border-radius: 15px;
}

.chat-topbar h2 {
 margin-left: 170px;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-sender {
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #666;
}

.message-container {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  height: calc(100vh - 120px); // 120pxは.chat-topbarと.chat-formの高さの合計値
  background-color: #F0F8FF;
}

.message-body {
  padding: 10px;
  border-radius: 20px;
  max-width: 70%;
}

.self .message-body {
  align-self: flex-end;
  background-color: #1E90FF;
  color: #fff;
  margin-right: 10px;
}

.self .chat-timestamp {
  align-self: flex-end;
  color: #D3D3D3;
}

.other .message-body {
  align-self: flex-start;
  background-color: #FF8C00;
  color: #333;
  font-weight: bold;
}

.other .chat-timestamp {
  color: #D3D3D3;
}

.chat-form {
  background-color: #f5f5f5;
  padding: 20px;
  position: sticky;
  bottom: 0;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #fff;
  }

  input[type="submit"] {
    flex: 0 0 auto;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #29b6f6;
    color: #fff;
    cursor: pointer;

    &.sending {
      background-color: #90caf9;
      color: #fff;
    }

    &.sent {
      background-color: #90caf9;
      color: #fff;
    }
  }

  label {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

    i {
      font-size: 20px;
      color: #333;
    }
  }

  input[type="file"] {
    display: none;
  }
}


// posts/index レイアウト

.main-container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.post-container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #e1e4e8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.post-image {
  max-width: 100%;
  max-height: 50%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.post-video {
  max-width: 100%;
  max-height: 50%;
  height: auto;
  margin-bottom: 1rem;
}


.post-header {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.post-content {
  max-width: 100%;
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.btn-custom {
  background-color: #ffcc99;
  border: none;
  color: #ffffff;
  transition: all 0.3s;
}
.btn-custom:hover {
  background-color: #ffb366;
  color: #ffffff;
}
.icon-button {
  color: #ffcc99;
  transition: all 0.3s;
}
.icon-button:hover {
  color: #ffb366;
}


// コメント欄レイアウト

.comment-container {
  background-color: #fff3e6;
  padding: 0.25rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 3px solid #e1e4e8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.comment-header {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.15rem;
}

.comment-content {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
}

.comment-delete-link {
  color: #ffcc99;
  transition: all 0.3s;
}

.comment-delete-link:hover {
  color: #ffb366;
}


// いいね、アニメーション

/* ハートマーク */
.fa-heart {
  color: gray;
  cursor: pointer;
}

/* ハートマークホバー時 */
.fa-heart:hover {
  color: pink;
}

/* ハートマーククリック時 */
.fa-heart.active {
  color: pink;
  animation: heart-beat 0.5s;
}

/* いいね数 */
.like-count {
  margin-left: 5px;
  font-size: 12px;
}

.btn-likes {
  margin-left: 20px;
}

/* アニメーション */
@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}





.form-group {
  margin: 1.5rem;
}

.form-control-posts {
  border-radius: 0.25rem;
  width: 100%;
  height: 150px;
  &:focas {
    box-shadow: 0 0 0 0.2rem rgba(255, 156, 91, 0.25);
    border-color: #ff9c5b;
  }
}

.input-group-text {
  background-color: #ff9c5b;
  border-color: #ff9c5b;
  color: white;
}

.submit-btn {
  background-color: #ff9c5b;
  color: white;
  &:hover {
    background-color: #ff7e33;
    color: white;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}



.search-btn {
  border: none;
  background-color: #29587a;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;

   &:hover {
    background-color: #4a8ab4;
    color: #ffffff;
   }
}


.search-form-008 {
  margin-bottom: 30px;
}

.follow-items {
  font-family: impact;
}


a.btn-border2 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  &:hover {
    color: #fff;
    background: #87CEEB;
  }
}


a.btn-border-red {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  &:hover {
    color: #fff;
    background: #FF6347;
  }
}

.post-tops {
  max-width: 50%;
}

.post-side {
  margin-top: 10px;
  margin-right: 50px;
}

.read {
  color: red;
}

.post-text {
  margin-right: 20px; /* ここで間隔を調整します。適切な値に変更してください。 */
}

.self.no-bg .message-body {
    background-color: transparent;
}

.other.no-bg .message-body {
    background-color: transparent;
}

// users/edit

.container.mt-5 {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.btn.btn-primary {
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #007bff;
  border-color: #007bff;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

.btn-outline-danger {
  border-radius: 30px;
  padding: 10px 30px;

  &:hover {
    background-color: #f5c6cb;
    border-color: #f5c6cb;
  }
}

.profile-picture-container .picture-border{
  position: absolute;
  width: 97px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #007bff;
  z-index: 1;
}

.profile-picture-container .form-control {
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.post-picture-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
  }

  &:hover .overlay {
    display: flex;
  }
}

